[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:Manicharan01/nvim

[submodule "ulauncher/.config/ulauncher/user-themes/ulauncher-adwaita-darkish"]
	path = ulauncher/.config/ulauncher/user-themes/ulauncher-adwaita-darkish
	url = git@github.com:shepda/ulauncher-adwaita-darkish.git
